@charset "utf-8";
/* CSS Document */
.clean{
	clear:both;
}
#outer {
	width: 800px;
	height: 1200px;
	background: left;
	background: right;
}
#banner {
	height: 134px;
	width: 800px;
	background-color: lightsalmon;
}
#left {
	width:176px;
	height:500px;
	float:left;
	background-color: #1220F9
}
#right {
	width:624px;
	height:500px;
	float:right;
	background-color: #07881E
}
#footer{
	width:800px;
	height:66px;
	clear:both;
	background-color: #C1FA0F
}